@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #834d9b !default;
$header-bg-color-secondary: #d04ed6 !default;

.page-header {
  background-color: #834d9b;
  background-image: linear-gradient(120deg, #d04ed6, #834d9b);
}
